extends layout

block content
  h1 Privacy Policy
  p The only data we collect is your email address.  The email address is used to reset your password in case you forget it. No other data is collected. Your email will not be shared or sold or anything like that.  It will sit in a secure database until you go to reset your password and then it will be used for that process.